@page
@{
    ViewData["Title"] = "Registro no encontrado";
}

<h1 style="color:red">El registro solicitado no existe</h1>

<br />

<a class="btn btn-success" asp-page="/Index">Volver al registro</a>


